body{
    background-color: brown;
}

.title{
    font-size: 30px ;
    color: blueviolet;
}

#principal{
    font-size: 70px;
}

#titulo{
    border: 2px solid black;
    width: 65vw;
    margin: auto;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    border: 2px solid black;
    width: fit-content;
    padding: 0px 1em 3em 1em;
    border-radius: 8%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
.logo{
    width: 300px;
    height: 300px;
}
.cards:hover{
    background-color: rgb(46, 143, 146);
}

#cards-container{
    background-color: aqua;
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border: 2px solid black;
    border-radius: 3%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}